@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UPT<br />
    Bv. Valise Parvan nr.2<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Official Page:</strong>   <a href="http://upt.ro/">UPT</a><br />
</address>